body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f6f1;
    color: #333;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #d1c6b1;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #5b3e35;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #5b3e35;
}

form {
    margin-top: 20px;
    background-color: #f0ebde;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

button {
    background-color: #8c6d58;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b5b47;
}

a.add-note {
    color: #8c6d58;
    text-decoration: none;
    transition: color 0.3s;
}

a.add-note:hover {
    color: #d1c6b1;
}

a.back-note {
    color: #8c6d58;
    text-decoration: none;
    transition: color 0.3s;
}

a.back-note:hover {
    color: #d1c6b1;
}
.back-link {
    color: #8c6d58;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #d1c6b1;
}

.edit-title {
    margin-left: 20px;
    color: #8c6d58;
    text-decoration: none;
}

.edit-link {
    color: #8c6d58;
    margin-right: 30px;
    text-decoration: none;
    transition: color 0.3s;
}

.news-title {
    color: #668e4e;
    text-decoration: none;
    transition: color 0.3s;
}

.news-title:hover {
    color: #ade789;
}


